[submodule "cpp_modules/vera-station-alert/vendored/SDL"]
	path = cpp_modules/vera-station-alert/vendored/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "cpp_modules/vera-station-alert/vendored/SDL_ttf"]
	path = cpp_modules/vera-station-alert/vendored/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
